body{
    margin: 0;
    font-family: "poppins",sans-serif;
    
}
* {
    box-sizing: border-box;
}
header {
    background-color: #693939;
}

/* Utilies */
h1,h4,h5,p {
    margin: 5px;
}
.about_section p {
    text-align: justify;
}
.bg_dark {
    background: linear-gradient(to left, #461e1e,#a04c4c); 
    
    border-radius: 0 20px 20px 0; 
}
.text_light {
    color: #fff;
}
.btn_dark,
.btn_light {
    display: inline-block;
    color: cornsilk;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 100px;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all 0.4s;
}
.btn_dark {
    margin-top: 5px;
    background-color: #461a1a;
}
.btn_dark:hover {
    background-color: #fff;
}

.bg_light{
    background-color: #fff;
}
.btn_light {
    
    background-color:#461a1a;
}
.btn_light:hover {
    background-color:#fff;
    color: #461a1a;
}
.btn_dark:hover {
    background-color: #fff;
    color:  #693939;
}

.margin_top {
    margin-top: 15px;
}

.image_responsive {
    width: 100%;
    max-width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}
.image_responsive_1 {
    border-radius: 20px 20px 20px 20px;
}
/* Navbar */

.main-logo {
    width: 200px;
    float: left;
    padding: 10px 0;
    padding-left: 20px;
}
.navbar {
    width: 500px;
    float: right;
}
.navbar ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style-type: none;
 
}

.navbar ul li {
    display: inline-block;
}

.navbar li a {
    display: block;
    color: cornsilk;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px 20px;
    font-size: 13px;
    letter-spacing: 2px;
}

/* header Section */
.header_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    background-image:linear-gradient( #a76d6d,  #a76d6d) ,url("../img/AdobeStock_102452448.jpeg");
    background-size: cover;
    background-blend-mode: multiply;
}
.header_text {
    color: #faeaaa;
    text-align: center;
    text-transform: uppercase;
}
.header_text h1 {
    color: #faeaaa;
    font-size: 150px;
    font-weight: 500;
}
.header_text p{
    letter-spacing: 5px;
}

/* Food Fusion section */
.recipe_section {
    padding: 50px 0;
}
.recipe_section h2 {
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    color: #faeaaa;
    padding: 13px;
    width: 300px;
    height: 50px;
    border-radius: 200px;
    background-color: #461a1a;
}
.image_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color:a  #461a1a;
    overflow: hidden;
    border-radius: 20px;
}

.image_wrapper img{
    height: 530px;
    width: 450px;
    object-fit: cover;
    transition: all 0.4s;
}

.image_wrapper:hover img{
    transform: scale(1.2, 1.2);
    cursor: pointer;
}

.image_wrapper-text {
    padding: 30px, 15px;
    max-height: 150px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: rgba(99, 43, 43, 0.7);
    color: #fff;
}

.image_wrapper-text h5 {
    color: #ffcd06;
    font-size: 20px;
    font-weight: 500;
}
.image_wrapper-text p {
    line-height: 26px;
}




/* Poular Stories section */
.image_wrapper_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-color:a  #461a1a;
    overflow: hidden;
    border-radius: 20px;
}

.image_wrapper_section img{
    height: 400px;
    width: 450px;
    object-fit: cover;
    transition: all 0.4s;
}



.image_wrapper_section:hover img{
    transform: scale(1.2, 1.2);
    cursor: pointer;
}

.image_wrapper_section-text {
    padding: 30px, 15px;
    max-height: 150px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: rgba(99, 43, 43, 0.7);
    color: #fff;
}

.image_wrapper_section-text h5 {
    color: #ffcd06;
    font-size: 20px;
    font-weight: 500;
}
.image_wrapper_section-text p {
    line-height: 26px;
}

/* About Section */
.about_section {
    padding: 50px 0;
    background: linear-gradient(to left, #461e1e,#a04c4c); 
    
    color:#fff;
    font-size: 20px;
    font-weight: 500;
}
.about_section h4{
    color: #faeaaa;
    font-size: 25px;
}
.about_section p{
    line-height: 36px;
    font-size: 20px;
    font-weight: 100;
}

.image_background {
    position: relative;
    z-index: 1;
}
.image_background::before {
    position: absolute;
    top:-30px;
    left:-30px;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #461a1a;
    border-radius: 5px;
}

.image_background img {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.9);
}

/* extra section */
.extra_section {
    padding: 50px 0;
}
.extra_section h2{
    margin: 20px auto;
    padding: 13px;
    width: 400px;
    height: 50px;
    border-radius: 200px;
    background-color: #461a1a;
    text-align: center;
    font-size: 20px;
    color:  #faeaaa;
}
.extra_section h4 {
    color: #faeaaa;
    font-size: 30px;
    font-weight: 500;
}
.extra_section p {
    line-height: 30px;
    font-weight: 300;
}



/* Category Section */

.category_section {
    
    padding-top: 40px 0px;
}
.category_section h2 {
    margin: 20px auto;
    padding: 13px;
    width: 300px;
    height: 50px;
    border-radius: 200px;
    background-color: #461a1a;
    text-align: center;
    font-size: 20px;
    color:  #faeaaa;
}

/* Author Team */
h1 {
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
    color: #461a1a;
    font-size: 45px;
 
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
.our-team {
    background: #d8d6ce;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 0px 25px;
    padding: 30px 70px;
}

.our-team .pic::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: #792a2a;
    position: absolute; 
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.2;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic::before {
    height: 100%;
}
.our-team .pic::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #461a1a;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
}
.our-team .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
.our-team:hover .pic img {
    box-shadow: 0 0 0 14px #693939;
    transform: scale(0.7);
}
.our-team .team-content {
    text-transform: capitalize;
    margin-bottom: 30px;
}
.our-team .title {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 700;
    color: #461a1a;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.our-team .post {
    
    display: block;
    font-size: 15px;
    color: #693939;
}
.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #461a1a;
    position: absolute;
    bottom: -100px;
    left: 0;
    transform: all 0.5s ease 0s;
}
.our-team:hover .social {
    bottom: 0;
}
.our-team .social li {
    display: inline-block;
}
.our-team .social li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 10px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover {
    color: #1d0505;
    background-color: #f7f5ec;
}
@media (max-width: 720px) {
    .container {
        flex-direction: column;
    }
    .our-team {
        width: 80%;
        margin-top: 30ox;
    }
}
/* Footer Section */
footer {
    bottom: 0px;
    width: 100%;
    color: #fff;
    background:  #461a1a; 
}
.main-content {
    display: flex;
}
.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content {
    margin: 20px 0 0 0;
}
.left .content p {
   text-align: justify;
}
.left .content .social {
    margin: 20px 0 0 0;
}
.left .content .social a {
    padding: 0 2px;
}
.left .content .social a span {
    height: 40px;
    width: 40px;
    color: #fff;
    background: #693939;
    line-height: 40px;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
    transition: 0.3s;
  
}
.left .content .social a span:hover {
    background: #a76d6d;
}

/* Address */
.center .content .fas {
    font-size: 1.4375rem;
    background: #693939;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: #a76d6d;
}
.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone {
    margin: 10px 0;
}


 /* Contact Us */
.right form input, .right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #693939;
    padding-left: 10px;
    border: 1px solid #fff;
    resize: none;
}
.right form input:focus,
.right form textarea:focus {
    outline-color:  #1d0505;
}
.right form input {
    height: 35px;
}
.right form .btn {
    margin-top: 10px;
}
.right form .btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    color: #cfa704;
    background:  #792a2a;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}
.right form .btn button:hover {
    background: #fff;
    color: #461e1e;
}
/* Bottom */
.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #693939;
}
.bottom center span {
    color:#dfd3d3;
}
.bottom center a {
    color:  #cfa704;
    text-decoration: none;
}



.clear-fix:after {
    content:"";
    display: table;
    clear: both;
}
/* End home page */


/* About us */
.About_Us h2 {
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    font-weight: 500;
}
.About_Us p {
    text-align: justify;
}
.About_Us {
    padding-left: 70px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 300;
    
    background-blend-mode: multiply;
    background-size: cover;
}
   
.img-wrap {
    width: 100%;
}
.img-wrap img {
    width: 90%;
    padding: 10px;
    border-radius: 10%;
    box-shadow: 0 0 10px #fff;

}
/* Author Team */
h1 {
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
    color: #461a1a;
    font-size: 45px;
 
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
.our-team {
    background: #d8d6ce;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 0px 25px;
    padding: 30px 70px;
}
.our-team .pic {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;
}
.our-team .pic::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: #792a2a;
    position: absolute; 
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.2;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic::before {
    height: 100%;
}
.our-team .pic::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #461a1a;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
}
.our-team .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
.our-team:hover .pic img {
    box-shadow: 0 0 0 14px #693939;
    transform: scale(0.7);
}
.our-team .team-content {
    margin-bottom: 30px;
}
.our-team .title {
    font-size: 22px;
    font-weight: 700;
    color: #461a1a;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.our-team .post {
    display: block;
    font-size: 15px;
    color: #693939;
}
.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #461a1a;
    position: absolute;
    bottom: -100px;
    left: 0;
    transform: all 0.5s ease 0s;
}
.our-team:hover .social {
    bottom: 0;
}
.our-team .social li {
    display: inline-block;
}
.our-team .social li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 10px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover {
    color: #1d0505;
    background-color: #f7f5ec;
}
@media (max-width: 720px) {
    .container {
        flex-direction: column;
    }
    .our-team {
        width: 80%;
        margin-top: 30ox;
    }
}





/* Contact page */

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-blend-mode: multiply;
    background-size: cover;
}
.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p {
    font-weight: 300;
    color: #fff;
}
/* Address Phone Email */

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}



.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    color: #461e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    font-size: 22px;
}

.container .contactInfo .box .text {
    text-align: justify;
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h2 {
    font-weight: 500;
    color: #fff;
}
.contactForm {
    width: 50%;
    padding: 40px;
    margin-left: 60px;
    border-radius: 20px;
    background:  #fff;
}
.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputbox input,
.contactForm .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    resize: none;
    outline: none;
}
.contactForm .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox textarea:focus ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputbox input[type="submit"]
{
    width: 100px;
    background: #461a1a;
    color: #fff;
    border: 2px solid #461e1e;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}

@media (max-width: 991px)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm
    {
        width: 100%;
    }
}




/* Recipe Section 2 */
.menu_name h1{
  color: #fff;
  margin-top: 15px;
}
.cards {

    display: inline-block;
    color: #fff;
    width: 25%;
    background: linear-gradient(to right, #461e1e,#a04c4c); 
    border-radius: 20px;
    margin: 40px; 
     
}
.cards:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
    box-shadow: 2px 2px 10px gray;
    transition: all 0.5s;
}

.image img {
    height: 250px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
}
.menu_name {
    text-transform: capitalize;
    text-align: center;
}
.description {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}
.cards button {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid  #461e1e;;
    background-color: #a86767;
    color: #fff;
    cursor: pointer;
}
   
.cards button:hover {
    background-color: #fff;
    color: #360808;
    transition: 0.5s;
  
}


/* View Page */
.view_page {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.recipe {
    
    width: 100%;
    height: 1000px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.ingredients {
    background-color: #eedcdc;
    padding-top: 5px;
    padding-left: 30px;
    width: 100%;
    height: auto;
   
}
.ingredients p {
    text-align: justify;
    width: 700px;
    padding-top: 5px;
    margin: 0 auto;
   
    color: #491414;
}

.ingredients h3 {
    
    width: 700px;
    margin-left: 326px;
     
}
.ingredients h1 {
    padding-top: 30px;
    margin: auto;
    color: #491414;
    text-decoration: underline;
}

.Author {
    text-transform: capitalize;
    width: 400px;
    margin: 0 auto;
}
.Author small {
    text-transform: uppercase;
    display: block;
    text-align: center;
    position: relative;
    margin-top: 7px;
    color: #491414;
    left: 60px;
}
.ingredients h3 {
    padding-left: 70px;
    text-decoration: underline;
    color: #5e1717;  
}
.ingredients h4 {
    padding-left: 70px;
    color: #5e1717;  
}
.ingredients li {
    line-height: 30px;
    padding-left: 20px;
    color: #491414;
}
.ingredients ol {
    padding-left: 50px;
}
.list ol {
    padding-left: 30px;
}
.list li {
    margin: 20px;
    line-height: 30px;
    padding-left: 20px;
    color: #491414;
}
b {
    font-size: 20px;
}
/* view Page Button */
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    transition-duration: 0.4s;
    cursor: pointer
}
.button i {
    padding-right: 10px;
}
.button1 {
    background-color: #461a1a;
    color: white;
    border: 2px solid #693939;
    outline: none;
   
}
.button1:hover {
    background-color: white;
    color: #461a1a;
}
.button2 {
    background-color: #461a1a;
    color: white;
    border: 2px solid #693939;
    outline: none;
   
}
.button2:hover {
    background-color: white;
    color: #461a1a;
}
.button3 {
    background-color: #461a1a;
    color: white;
    border: 2px solid #693939;
    outline: none;
   
}
.button3:hover {
    background-color: white;
    color: #461a1a;
}



/* Sign up page */

.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient( #a76d6d,  #a76d6d) ,url("../img/August20_Easy-Chicken-Burgers-with-Apple-and-Slaw-976x549.jpg");
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px  #ff61241f;
    border-radius: 30px;
}
.toggle-btn {

    color: #f8c433;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #461a1a,#a04c4c); 
    border-radius: 30px;
    transition: .5s;

}
.social-icons {
    margin: 30px auto;
    text-align: center;
   
}
.social-icons a {
    margin: 0 12px;
    color:  #461a1a;
}
.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn {
    color: #f8c433;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #461a1a,#a04c4c);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}
.check-box span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login {
    left: 50px;
}
#register {
    left: 450px;
}



/* know More */
.know_more {
    width: 450px;
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    border-radius: 20px;
    margin-bottom: 5%;

}
.img {
    border-radius: 50%;
    width: 180px;
    height: 180px;

}
.know_more h1{
    text-transform: capitalize;
    margin-top: 5%;
    color: #fff;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 100;
}
.know_more h2{
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
}
.know_more p {
    text-align: justify;
}
ul {
    margin: 0;
    padding: 0; 
}
.know_more li {
    margin: 6px;
    display: inline-block;
    list-style: none;
}
.know_more li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.know_more li a:hover {
     color: gray;
}
.body {
    height: 122vh;
    padding-top: 5px;

background-blend-mode: multiply;
background-size: cover;
background-repeat: no-repeat;
}







 
 
 
